* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;

    transition: all;
    transition-duration: 0.35s;
    /* transition-duration: 500ms; */
}

body {
    background: #0F0C29;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    /* font-size: 90px; */
    font-size: clamp(50px, 8vw, 100px);
    color: #B3B3FE;
    font-weight: 100;

    cursor: default;
}

.hovered {
    color: #FBFBFB;
    font-weight: 900;
}

.hovered-adjacent {
    color: #CCCCFA;
    font-weight: 400;
}